@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

:root {
  --black: hsl(0, 0%, 30%);
  --gray: hsl(0, 0%, 50%);
  --color: hsl(44, 70%, 55%);
  --colorback: hsl(43.3, 10.8%, 32.5%);
  --border: 1px solid #80808054;
  --shadow: 0 0 10px -5px;
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.6px 0.9px 1.2px -1.2px hsl(var(--shadow-color) / 0.34),
    1.4px 2.2px 2.9px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    1.1px 1.8px 2.4px -0.8px hsl(var(--shadow-color) / 0.36),
    2.9px 4.4px 5.9px -1.7px hsl(var(--shadow-color) / 0.36),
    7px 10.8px 14.5px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    2px 3.2px 4.2px -0.4px hsl(var(--shadow-color) / 0.34),
    3.8px 5.9px 7.9px -0.7px hsl(var(--shadow-color) / 0.34),
    6.2px 9.7px 13px -1.1px hsl(var(--shadow-color) / 0.34),
    9.9px 15.4px 20.6px -1.4px hsl(var(--shadow-color) / 0.34),
    15.5px 24.1px 32.2px -1.8px hsl(var(--shadow-color) / 0.34),
    23.6px 36.7px 49.1px -2.1px hsl(var(--shadow-color) / 0.34),
    34.8px 54px 72.3px -2.5px hsl(var(--shadow-color) / 0.34);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Jost', sans-serif;
  color: var(--black);
}

body {
  /* background-color: hsl(49, 40%, 95%); */
  color: var(--color);
}

h1,
h2,
h3,
p,
a {
  font-weight: 100;
  color: var(--color);
}

a {
  text-decoration: none;
  color: var(--color);
}